<form action="/things" method="post">
  <label for="name">Add a new gear</label>
  <input id="name" name="name" type="text">
  <label for="price">How much does/did this cost?</label>
  <input id="price" name="price" type="text">
  <label for="purchased">Have you bought this item yet? </label> <br />
  <input id="purchased" name="purchased" type="radio" value="true"/> Yes<br />
  <input id="purchased" name="purchased" type="radio" value="false"/> No <br />
  <label for="weight">How much does this thing weigh?</label>
  <input id="weight" name="weight" type="number">
  <button type="submit">Submit</button>
</form>
